!!! 5
%html
  %head{:lang => "en"}
    %script
      var dj_counts_dj_reports_url = "#{dj_counts_dj_reports_url}"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    = javascript_include_tag "dj_mon/dj_mon"
    = stylesheet_link_tag "dj_mon/dj_mon", :media => "screen, projection"
    = yield :head

  %body
    %header
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            .pull-left
              = link_to "Cocina & Comparte", all_dj_reports_url, :class => "brand"
            .pull-right.counts-view
              %span.badge.badge-warning
                =@counts[:failed] 
                failed
              %span.badge.badge-info
                =@counts[:queued]
                queued
              %span.badge.badge-info
                =@counts[:active]
                active
              %span.badge.badge-info
                =@counts[:all]
                all

    .container.centered
      - if flash[:notice]
        .alert.alert-success
          = flash[:notice]

    .container
      = yield

